---
##############
## Required ##
##############
slack_url: 'https://hooks.slack.com/services/foo/bar/baz' # Set up an incoming webhook for your Slack account here https://get.slack.help/hc/en-us/articles/115005265063-Incoming-WebHooks-for-Slack#set-up-incoming-webhooks
pagespeed_api_key: 'Get an Google Search API key from https://developers.google.com/webmaster-tools/search-console-api/v1/configure'
webpagetest_api_key: 'Get a WebPageTest API key from https://www.webpagetest.org/getkey.php'
slack_channel: 'Select existing Slack channel to post to'
domain: 'https://www.google.com/' # Change this to the domain you want to test
page_list: # Change these to the pages you want to test on your domain
- 'drive/'
- 'calendar/'

#############
## Default ##
#############
slack_username: 'PageSpeed BOT' # Change this to any name you like
slack_bot_emoji: ':zap:'
improvement_emoji: ':racehorse:'
minimal_change_emoji: ':no_mouth:'
regression_emoji: ':no-entry:'
include_timestamp: true
threshold: '2'